<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<form th:action="@{/ad}" th:object="${photoConverter}" method="POST">
    Путь до папки с фото:
    <input type="text" th:field="*{adPhotosPath}"/>
    <br>
    <input type="submit" value="Set path"/>
    <br>
</form>
<p>Укажите в форме путь до папки с фотографиями. Это могут быть фото, формата <i>jpg, png, tiff, gif</i><br>
    При нажатии <i>Set path</i>, фотки автоматически будут переделаны в формат <i>jpeg</i>, понятный в Active Directory, <br>
    произойдёт копирование их на <a href="https://srv-mail3.eatmeat.ru/owa">SRV-MAIL3</a>, <br>
    и сверка с AD, посредством файлика allusers.txt, который должен быть в папке программы (допилим, чтобы не было такого)<br>.
    Фотофайлы должны соотв. <i>SamAccountName</i>, не точно, но хотя бы включать pattern. <br>
    Например, чтобы добавить фото юзеру ikudryashov, назовите файл kudr.png и т.п.<br>
    Чем больше соответствие, тем меньше вероятность ошибок.</p>
<p>На выходе мы получим <b>список комманд для <i>Power Shell</i></b>,
    которые надо скормить <a href="https://srv-mail3.eatmeat.ru/owa">SRV-MAIL3</a>.
<ul th:utext="${pscommands}"/>
<img th:src="${userimage}"/>
<p th:utext="${users}"/>
</body>
<footer>
    <a href="/">На главную</a>
</footer>
</html>