<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<form th:action="@{/ad}" th:object="${photoConverter}" method="POST">
    Путь до папки с фото:
    <input type="text" th:field="*{adPhotosPath}"/>
    <br>
    <input type="submit" value="Set path"/>
    <br>
</form>
<ul th:utext="${pscommands}"/>
</body>
</html>