<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<p th:utext="${users}"></p>
<p th:utext="${details}"></p>
<center>
    <form>
        <form method="POST" th:action="@{/sshacts}" th:object="${sshActs}"><br>
            Internet:<br>
            <input name="Полный, через proxy (запись статистики)" th:checked="${tempFull}" type="checkbox"/><br>
            <input type="submit" value="Установить"/><br>
        </form>
    </form>
</center>
</body>
<footer>
    <p th:utext="${footer}"/>
</footer>
</html>