<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="red/main.css" th:href="@{css/main.css}"/>
    <title th:text="${title}"></title>
</head>
<body bgcolor="#B63E3F"/>
<p th:utext="${eMessage}"/>
<p th:utext="${statcode}"/>
<p>
<center>
    <a th:href="@{ref}"><img th:src="@{images/banner.jpg}"/></a><br>
</center>
</p>
</body>
<footer>
    <p th:utext="${footer}"/>
    <p><br>
        <textarea rows="15" cols="10" th:text="${stackTrace}"/>
    </p>
</footer>
</html>