<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<p th:text="${query}"/>
<center>
    <form th:action="@{/exchuplsrch}" th:object="${rulesbean}" method="POST"><br>
        Поиск в правилах:<br>
        <input type="text" th:field="*{query}"/><br>
        <input type="submit" value="Искать"/><br>
    </form>
</center>
</body>
<footer>
    <p th:utext="${footer}"/>
</footer>
</html>