<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authorize please!</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="css/main.css" media="all" rel="stylesheet" th:href="@{css/main.css}" type="text/css"/>
</head>
<body>
<form method="post" th:action="@{/login}">
    <div><label> User Name : <input name="username" type="text"/> </label></div>
    <div><label> Password: <input name="password" type="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
<footer>
    <center><font color="#1b70f9"><p th:utext="${footer}"/></font></center>
</footer>
</html>