<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<a href="/">
    <center><h2 th:utext="${left}"></h2><br>
        <h3 th:utext="${newpc}"/></center>
</a>
    <center th:utext="${serviceinfo}"></center>
<form th:action="@{/netscan}" th:object="${netScannerSvc}" method="POST">
    Интересуемый ПК:
    <input type="text" th:field="*{thePc}"/>
    <br>
    <input type="submit" value="Запрос"/>
    <br>
</form>
<p th:utext="${pc}"/>
<p th:utext="${thePc}"/>
</body>
<footer>
    <p th:utext="${footer}"/>
</footer>
</html>