<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<h2>
    <a href="/matrix">matrix</a><br>
    <a href="/netscan">netscan</a><br>
    <a href="/">main</a><br>

</h2>
<p>
<h4>AD Computers:</h4>
<textarea rows="20" cols="25" th:text="${pcs}"/>
<p>
<h4>AD Users:</h4>
<textarea rows="20" cols="14" th:text="${users}"/>
</p>
</body>
<footer>
    <p th:utext="${footer}"/>
</footer>
</html>