<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${metric}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<h3><a href="/">Главная</a> | <a href="/pflists?renew">Обновление списков</a></h3>

<form method="POST" th:action="@{/runcom}" th:object="${PfListsSrv}">
    Выполнить комманду на srv-nat:
    <input th:field="*{commandForNat}" type="text"/>
    <br>
    <input type="submit" value="SSH Command"/>
    <br>
</form>
<p>
<h4>Обычный доступ</h4>
<textarea name="SQUID STANDARD: " rows="10" cols="10" th:text="${squid}"/><br>
<h4>Лимитированный доступ</h4>
<textarea name="SQUID LIMITED: " rows="10" cols="10" th:text="${squidlimited}"/><br>
<h4>Полный доступ, через Squid</h4>
<textarea name="SQUID FULL: " rows="10" cols="10" th:text="${tempfull}"/><br>
<h4>Полный, прямой доступ</h4>
<textarea name="VIPNET: " rows="10" cols="10" th:text="${vipnet}"/><br>
</p>
<p>
<h4>NAT now</h4>
<textarea name="pfctl -s nat: " rows="10" cols="10" th:text="${nat}"/><br>
<h4>Выполняемые PF-правила</h4>
<textarea name="pfctl -s rules: " rows="10" cols="10" th:text="${rules}"/><br>
<h4>Threads stat</h4>
<textarea name="Threads: " rows="10" cols="10" th:text="${gitstats}"/><br>
</body>
<footer>
    <p th:utext="${footer}"/>
</footer>
</html>