<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text=${yourip}>ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<form th:action="@{/matrix}" th:object="${matrix}" method="POST">
    Введите запрос:
    <input type="text" th:field="*{workPos}"/>
    <br>
    <input type="submit" value="Запрос"/>
    <br>
</form>
<p>
    <a href="http://srv-git.eatmeat.ru/fsa/">Статистика по HTTP-трафику SQUID</a><br>
    <a href="http://srv-git.eatmeat.ru:1234">Локальный GIT, для конфигов и тп. (Может быть выключен)</a> | <a href="/git">вкл</a>|<a href="/git?reboot">выкл</a><br>
    <a href="/visits">
<p>
<h3>Синтаксис</h3>
<p>
    <font color="#f4f442">
        "whois: " - whois-запросы на все регистрационные сервера. // sample - whois: www.ru // <br>
        "calc: " - подсчёт суммы чисел. // sample - calc: 1 2 3.4 3 // <br>
    </font>
    Запрос без параметров - запрос в матрицу доступа. Поиск по-должности %олжнос%<br>
</p>
<p th:utext="${footer}"/>
</body>
<footer>
</footer>
</html>