<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<center><a href="/">Main</a> | <a th:href="${ref}">Back</a> | <a href="/clsmail">Ящик и БД</a> | <a href="/clsmail?clearmail">Очистить ящик</a></center>
<p th:utext="${mail}"/>
<p th:utext="${urls}"/>
<a href="http://srv-git.eatmeat.ru:1234"><font color=""><p th:utext="${ping}"></p></font></a>
<p th:utext="${context}"/>
<p th:utext="${request}"/>
<p th:utext="${res}"/>
</body>
<footer>
    <p align="right" th:utext="${visit}"/>

    <a href="/stop">Exit Application</a>
    <a href="/netscan?td">Netscan TD</a>
    <a href="/netscan">Netscan Full</a>
    <a href="/pflists">PfLists</a>
</footer>
</html>