.gradle/
.idea/
build/
console.log
LogFileReader.readLog.err
*access.log
stats.iml
stats.ipr
stats.iws
MessageCons.log
MessageCons.log.lck
DataSourceSelectorReg.log
InitProperties.properties
out/
AccessLogGetter.connectTo.err
AccessLogGetter.log
AccessLogGetter.log.lck
LogFileReader.log
LogFileReader.log.lck
LogParser.log
LogParser.log.lck
*.err
key.pem
*parsedLog.log
LogFileReaderTest.log
LogFileReaderTest.log.lck
src/main/resources/
src/test/resources/
*.log
*.lck
inetlogs.zip
0-gbTodel.txt
del.txt
ConfigSync.ssh
listfiles.ssh
1915srv-nat.conf
Darculafromset.icls
Project.xml
inspect.xml
lib/
parsedLogs.zip
