<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
    <title th:text="${title}"/>
</head>
<body>
<h3 th:utext="${roadStat}"/><br>
<p th:utext="${dbStat}"/>
</body>
<footer>
    <a href="/">Main</a> | <a href="/sysinfo">Service Info</a> | <a href="/ftp">FTP</a>
</footer>
</html>