<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">ХЗ</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="css/main.css" media="all" rel="stylesheet" th:href="@{css/main.css}" type="text/css"/>
</head>
<body>
<p th:utext="${head}">
<form method="POST" th:action="@{/files}" th:object="${filesSrv}">
    <input th:field="*{userInput}" type="text"/>
    <br>
    <input type="submit" value="Получить"/>
</form>
<p th:utext="${result}">
</body>
<footer>
    <center><font color="#1b70f9"><p th:utext="${footer}"/></font></center>
</footer>
</html>