<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${date}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<h1>Welcome</h1>
<h5 th:utext="${message}">..!..</h5>

<p th:text="${timeleft}"/>

<p>
    <a th:href="@{/chkcar}">Авто OBD</a>
<p>
    <a th:href="@{http://10.10.111.57:8881/ftp}">Сканировать FTP</a>
<p>
<h5 th:text="${speed}">.</h5>
<p>
<h5 th:text="${mail}"></h5>


</body>
<footer>
    <h5>
        <a href="mailto:bot@chess.vachok.ru">Ivan AKA Vachok
        </a><br>
        <a href="/home">Return</a><br>
        <a th:href="@{/exit}">Exit app</a>
    </h5>
</footer>
</html>