<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css" th:href="@{css/style.css}"/>
</head>
<body>
<center><h1>No one's calling for me at the door</h1></center>
<p>
<center><h2>Это круто - жить в одиночестве. У вас есть всё что вам надо - это вы... </h2></center>
<p align="right">Но что делать, когда сам от себя устал?</p>
<img align="right" src="images/20180705_211750.jpg" alt="Me"/>
</body>
</html>