<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css" th:href="@{css/style.css}"/>
    <title th:text="${title}"></title>
</head>
<body>
<h3 th:utext="${currency}"/>
<center>
    <form th:action="@{/getmoney}" th:object="${ParserCBRruSRV}" method="POST">
        Сколько и под какой % вы положили в 2014м?
        <input type="text" th:field="*{userInput}"/>
        <br>
        <input type="submit" value="Считать"/>
        <br>

    </form>
</center>>
<img th:src="@{images/chrome_2018-08-22_19-33-57.png}"/>
</body>
<footer>
    <p th:utext="${footer}"/>
</footer>
</html>