<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<h2 align="center">Немного инфо о системе</h2>

<main th:text="${id}"/>
<main th:text="${visitor}"/>
<p th:utext="${ctxinfo}"/>
<p th:text="${#execInfo}"/>
<p th:text="${#uris}"/>
</body>
<footer>
    <h4><a href="/">Main</a> | <a href="${calc}">CALC</a></h4>
    <p th:text="${ver}"/>
</footer>
</html>