<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
    <title>НИИХуЯ</title>
</head>
<body>
<h2 th:text="${error}"/>
<p th:text="${eMessage}"/>
<link>
<a th:href="@{/exit}">Выйти из меня...</a><br>
<link>
<a th:href="@{/exit?shutdown}">Выключить систему...</a><br>
<link>
<a th:href="@{/exit?restart}">Перегруз системы...</a><br>
<img th:src="@{images/banner.jpg}">
</body>
<footer>
    <link>
    <a th:href="@{/exit}">Выйти из меня...</a><br>
    <link>
    <a th:href="@{/exit?shutdown}">Выключить систему...</a><br>
    <link>
    <a th:href="@{/exit?restart}">Перегруз системы...</a><br>
</footer>
</html>