<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}"/>
</head>

<body>

<p>Please select an option</p>
<ol>
    <li><a href="product/list.html" th:href="@{/product/list}">Product List</a></li>
</ol>

<p>Now you are looking at a <span th:text="'working web application'">template file</span>.</p>

<div th:insert="~{footer::copy}">&copy; 2011 The Static Templates</div>

</body>

</html>
