<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${date}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<
<textarea th:text="${greetings}">.</textarea>
<a href="http://velkomnet">Velkomnet )</a>
</body>
<footer>
    <link>
    <a th:href="@{/exit}">Выйти из меня...</a><br>
    <link>
    <a th:href="@{/exit?shutdown}">Выключить систему...</a><br>
    <link>
    <a th:href="@{/exit?restart}">Перегруз системы...</a><br>
</footer>
</html>