<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${date}">ХЗ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css" th:href="@{css/main.css}"/>
</head>
<body>
<a href="/netscan">Scan DO )</a><br>
<a href="/netscan?a">Scan A )</a><br>
<a href="/netscan?pp">Scan PP)</a><br>
<a href="/netscan?td">Scan TD )</a><br>
<a href="/netscan?no">Scan NO )</a><br>
<textarea th:text="${greetings}">.</textarea>
<a href="http://velkomnet">Velkomnet )</a>
</body>
<footer>
    <link>
    <a th:href="@{/stop}">Выйти из меня...</a><br>
    <link>
    <a th:href="@{/stop?full}">Выключить систему...</a><br>
    <link>
    <a th:href="@{/stop?restart}">Перегруз системы...</a><br>
</footer>
</html>